/* --------------CSS RESET------------------------------ */

/* 1. Using easy to style box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Removing default margin */
* {
    margin: 0;
}


/* 5. Improving media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}


/* 8. Better line wrapping
p {
    text-wrap: pretty;
} */


/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--clr-gray-700);

}


:root {
    --clr-blue-500: #4338CA;
    --clr-black-700: #171717;
    --clr-gray-700: #525252;
}




#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2,
h3,
h4 {
    font-weight: 700;
}

.container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


}

.container-label,
.container-title,
.container-body {
    text-align: center;
}

.container-label,
.cards {
    margin-top: 2rem;
}

.container-title,
.container-body {
    margin-top: 0.5rem;
}

.container-label {
    color: var(--clr-blue-500);
    font-weight: 700;
}

.container-title {
    color: var(--clr-black-700);
}

.cards {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--clr-gray-700);
}



.card>h3 {
    margin-top: 1rem;
    color: var(--clr-black-700);

}

.card>h4 {
    margin-top: 0.5rem;

    color: var(--clr-blue-500);
}

.card>p {
    margin-top: 1rem;
}

.card>img {
    max-width: 100%;
    width: 327px;
    object-fit: cover;
}




@media (width > 900px) {
    .cards {
        flex-direction: row;
    }



}